.large-checkbox {
  width: 25px;
  height: 25px;
}
.scroll-container {
  max-height: 350px;
  overflow-y: auto;
}



.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* logo vnpay */
.img-vnpay{
  width: 55px;
  height: 35px;
}

@media (max-width: 576px) {
  .ms-xs-2 {
      margin-left: 0.5rem; /* 2 đơn vị Bootstrap tương đương với 0.5rem */
  }
}
